<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pgy.ginko.quartz.dao.test.JobDao">

    <sql id="baseColumnSql">
        id, class_name, cron_expression, job_name, job_group, trigger_name, trigger_group, pause,
        enable, description, create_time, last_update_time
    </sql>

    <select id="getAllJob" resultType="com.pgy.ginko.quartz.model.test.ScheduleJob">
        SELECT
        <include refid="baseColumnSql"/>
        FROM schedule_job
    </select>

    <select id="getAllEnableJob" resultType="com.pgy.ginko.quartz.model.test.ScheduleJob">
        SELECT
        <include refid="baseColumnSql"/>
        FROM schedule_job
        WHERE enable = 1
    </select>


</mapper>
